<% title "#{@group.name} - #{@lesson.name}" %>


      <h4>
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
        &nbsp;&nbsp;Посещаемость&nbsp;&nbsp;<%= @lesson.attendance %>%
      </h4>

<br/>
<div class="container-fluid">
  <div class="pull-left">
    <%= link_to 'Добавить', new_lesson_log_path, class: can?(:create, @lesson.logs.build) ? "btn btn-success" : "btn btn-success disabled" %>
  </div>
</div>



<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="row"></th>
      <% @logs[:col_headers].each do |col_header| %>
          <th><%= link_to col_header.date.to_formatted_s(:short), edit_lesson_log_path(params[:lesson_id], col_header.date, col_header.transaction_id, ) %></th>
      <% end %>
    </tr>
  </thead>
 <tbody>
 <% @logs[:rows].each do |student| %>
     <tr>
       <th><%= link_to student.name, student_path(student) %></th>
       <% student.logs.where(:lesson_id => @lesson).order(:date, :transaction_id).each do |log| leave = false %>
           <td>
             <% if log.flag %>
                 <label class="btn btn-primary">
                   <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                 </label>
             <% else
                  if student.medical_certificates.any?
                    student.medical_certificates.each do |mc|
                      if log.date.between?(mc.from, mc.till)
                        leave = true
                        break
                      end
                    end
                  end
                  if leave %>
                     <label class="btn btn-success">
                       <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                     </label>
                 <% else %>
                     <label class="btn btn-danger">
                       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                     </label>
                 <% end %>
             <% end %>
           </td>
       <% end %>
     </tr>
 <%end %>
 </tbody>
</table>

<div class="container-fluid">

<label class="btn btn-primary ">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</label>
- Присутствовал <br/><br/>
<label class="btn btn-danger">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</label>
- Отсутствовал <br/><br/>
<label class="btn btn-success">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</label>
- Отсутствовал по справке
</div>
